.card {
  margin-top: 2%;
}

.colorr {
  color: black;
}

.title {
  align-content: center;
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
  /* text-align: justify; */
  /* margin: 0 auto; */
  /* margin-bottom: 9rem; */
  align-items: center;
  align-content: center;
  /* margin-top: 20%; */
  position: relative;
  left: 118px;
  width: 80%;
  /* background: blue; */
  /* height: 100vh; */

  /* display: flex; */
}

#list1 .form-control {
  border-color: transparent;
}
#list1 .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
#list1 .select-input.form-control[readonly]:not([disabled]) {
  background-color: #fbfbfb;
}

.taskManager {
  text-align: center;
  margin-top: 6rem;
}

.boxshad {
  width: 25rem;
  box-shadow: 0 0 1px rgba(22, 219, 226, 0.37), 0 0 3px rgba(141, 188, 226, 0.5),
    0 0 10px rgba(45, 178, 230, 0.432), 0 0 0 1px rgba(103, 190, 231, 0.37);
}
.logcont {
  margin-top: -2rem;
}

.pt-2 {
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  left: 118px;
  /* width: 82%; */
}
.card1 {
  width: 50rem;
  margin-top: 8%;

  /* position: absolute; */
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -2rem;
  margin: 0 0rem auto;
}
.card2 {
  margin-top: 1%;
  /* display: flex; */
  margin-left: 4rem;
  margin-right: 2rem;
  align-items: center;
  align-content: center;
  /* width: 75rem; */
  height: 25rem;
  width: 50rem;
  /* margin: 0 auto; */
}

.bossDispo {
  width: 45rem;
  margin-top: 8%;

  /* position: absolute; */
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.disposition {
  /* margin-left: -4rem; */
  margin-right: 5rem;
  margin-top: 2rem;
}

.btnDign {
  justify-content: center;
  align-items: center;

  align-items: center;
  align-content: center;

  position: relative;
  margin-left: 18rem;
  /* left: 118px; */
}
