@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.btntabl {
  color: rgb(23, 23, 24);
  background-color: rgb(15, 12, 207);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 11px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 140, 255); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(41, 61, 240, 0.616); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(155, 233, 207); /* creates padding around scroll thumb */
}
